.forg_pwd_section {
    font-size: 19px;
    color: #fff;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.forg_pwd_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: rgb(246, 238, 238);
}

input[type="text"],
input[type= "email"],
input[type= "number"],
input[type="password"],
.forg_pwd_btn,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.forg_pwd_label,
.forg_pwd_btn {
  margin-top: 1rem;
}

.forg_pwd_btn {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

/* input[type="file"]{
    display: none;
} */

.myProfile{
    display: none;
}

.prof{
    text-align: center;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 50%;
    width: 40%;
}